<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Sign Up</title>
     <link type="text/css"  rel="stylesheet" href="static/design.css">
</head>
<body>
{% extends 'home.html' %}
{% block main %}
<form method="post" action="/sign_up/adduser">
    <h4>User Id:<input type="text" name = "id"></h4>
    <h4>Name:<input type="text" name = "uname"></h4>
    <h4>Password:<input type="password" name = "password"></h4>
    <h4>Re-Password<input type="password" name="repassword"></h4>
    <h4>State<input type="text" name="state"></h4>
    <h4>Region<input type="text" name="region"></h4>
    <input type="submit" value="Sign up">
</form>
{% endblock %}
</body>
</html>